/**
*   GLOBALES
**/

$themeColor-Light: #c7e0f3;
$themeColor-Dark: #222;
$themeColor-GrisBase: #ccc;
$themeColor-BleuBase: #5e98db;
$themeColor-RougeBase: #900;
$themeColor-OrangeBase: tomato;

$theme-font: verdana, sans-serif;
